<article>
    <i class="far fa-credit-card text-secondary"></i>
    <h4>Pagá con tarjeta o en efectivo</h4>
    <p>
        Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen
        puntos de pago. ¡Y siempre es seguro!
    </p>
</article>
<article>
    <i class="fas fa-gift text-secondary"></i>
    <h4>Envío gratis desde los $ 2.500</h4>
    <p>
        Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles
        de productos. Es un beneficio de MercadoPuntos.
    </p>
</article>
<article>
    <i class="fas fa-gift text-secondary"></i>
    <h4>Seguridad de principio a fin</h4>
    <p>
        ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas
        hacer porque estás siempre prtegid@.
    </p>
</article>
<div>
    <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
</div>
