<div class="header-top">
    <div
        class="display-flex justify-content-center align-items-center padding-10 logo-barra-md"
    >
        <a href="/" id="logo"
            ><img
                src="/images/logo-mercado-liebre.svg"
                alt="Logo de MercadoLiebre"
        /></a>
        <form
            class="display-flex flex-direction-row barra-busqueda-container flex-wrap-nowrap"
            action="#"
            method="GET"
        >
            <input
                class="barra-busqueda"
                type="text"
                placeholder="Buscá productos, marcas"
            />
            <i class="fas fa-search display-block lupa-icon text-dark"></i>
        </form>
    </div>
    <div class="display-flex justify-content-center align-items-center">
        <i class="fas fa-hand-holding-usd"></i>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
</div>
<div class="text-align-center" id="boton-menu-container">
    <i class="fas fa-bars" id="boton-menu"></i>
</div>
<nav class="nav-bar nav-bar-md">
    <ul class="link nav-bar-list">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="/products/create">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
    </ul>
    <ul class="link nav-bar-list">
        <% if (!user) { %>
        <li>
            <a href="/auth/register"
                >Creá tu cuenta <i class="far fa-id-card"></i
            ></a>
        </li>
        <li>
            <a href="/auth/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
        </li>
        <% } else {%>
        <li>
            <a href="#"><%= user.name %> <i class="fas fa-user"></i></a>
        </li>
        <li>
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
        </li>
        <% } %>
    </ul>
</nav>
