<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head", {title: "Registrate"}) %>
    </head>
    <body class="bg-muted">
        <header class="bg-warning"><%- include("./partials/header") %></header>
        <main>
            <h1>Registro</h1>
            <form
                action="/auth/register"
                method="POST"
                class="register-form"
                enctype="multipart/form-data"
            >
                <label for="nombre-y-apellido" class="display-none"
                    >Nombre y apellido</label
                >
                <input
                    type="text"
                    id="nombre-y-apellido"
                    name="name"
                    placeholder="Nombre y apellido"
                    class="display-block"
                />
                <label for="usuario" class="display-none"
                    >Nombre de usuario</label
                >
                <input
                    type="text"
                    id="usuario"
                    name="username"
                    placeholder="Nombre de usuario"
                    class="display-block"
                />
                <label for="email" class="display-none">Email</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Email"
                    class="display-block"
                />
                <label for="nacimiento" class="display-block"
                    >Fecha de Nacimiento</label
                >
                <input
                    type="date"
                    id="nacimiento"
                    name="birthday"
                    class="display-block"
                />
                <label for="domicilio" class="display-none">Domicilio</label>
                <input
                    type="text"
                    id="domicilio"
                    name="address"
                    placeholder="Domicilio"
                    class="display-block"
                />
                <h2>Perfil del usuario</h2>
                <div
                    class="display-flex justify-content-space-around align-items-baseline"
                >
                    <input
                        type="radio"
                        id="comprador"
                        name="perfil"
                        value="si"
                    /><label for="comprador">Comprador</label>
                    <input
                        type="radio"
                        id="vendedor"
                        name="perfil"
                        value="no"
                    /><label for="vendedor">Vendedor</label>
                </div>
                <h2>Intereses</h2>
                <div
                    class="display-flex justify-content-flex-start align-items-baseline"
                >
                    <input
                        type="checkbox"
                        id="electro"
                        name="intereses"
                        value="electro"
                    />
                    <label for="electro">Electro</label>
                </div>
                <div
                    class="display-flex justify-content-flex-start align-items-baseline"
                >
                    <input type="checkbox" name="intereses" value="moda" />
                    <label for="moda">Moda</label>
                </div>
                <div
                    class="display-flex justify-content-flex-start align-items-baseline"
                >
                    <input type="checkbox" name="intereses" value="hogar" />
                    <label for="hogar">Hogar</label>
                </div>
                <div
                    class="display-flex justify-content-flex-start align-items-baseline"
                >
                    <input
                        type="checkbox"
                        name="intereses"
                        value="jugueteria"
                    />
                    <label for="jugueteria">Juguetería</label>
                </div>
                <div
                    class="display-flex justify-content-flex-start align-items-baseline"
                >
                    <input type="checkbox" name="vida-sana" value="vida-sana" />
                    <label for="vida-sana">Vida sana</label>
                </div>

                <h2>Elegí tu foto de usuario</h2>
                <input type="file" name="avatar" />
                <br />
                <label for="password" class="display-none"
                    >Elegí tu contraseña</label
                >
                <input
                    type="text"
                    id="password"
                    name="password"
                    placeholder="Elegí tu contraseña"
                    class="display-block"
                />
                <label for="password" class="display-none"
                    >Confirma tu contraseña</label
                >
                <input
                    type="text"
                    id="password"
                    name="passwordCheck"
                    placeholder="Confirma tu contraseña"
                    class="display-block"
                />
                <br />
                <button type="submit" class="register-submit">Enviar</button>
                <button type="reset" class="register-reset">Borrar</button>
            </form>
        </main>
        <footer class="footer-md"><%- include("./partials/footer") %></footer>
    </body>
</html>
