.header-top {
    display: flex;
}

#logo {
    width: 50%;
    padding-right: 5px;
}

.logo-barra-md {
    width: 70%;
}

.barra-busqueda-container {
    width: 50%;
}

#boton-menu-container {
    display: none;
}

.nav-bar-md {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.nav-bar-list {
    display: flex;
    justify-content: space-around;
}

.nav-bar-list > li {
    padding-right: 15px;
}

.article-container {
    width: 47%;
}

.article-container:hover {
    -webkit-box-shadow: 5px 5px 28px -9px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 5px 5px 28px -9px rgba(0, 0, 0, 0.79);
    box-shadow: 5px 5px 28px -9px rgba(0, 0, 0, 0.79);
}

.footer-md {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-detail-container-md {
    display: flex;
}

.edit-delete-container-md {
    display: flex;
    justify-content: space-between;
}

.product-detail-edit-delete-form {
    width: 48%;
}
