<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head", {title: "Bienvenidos a Mercado Liebre"})
        %>
    </head>
    <body class="bg-muted">
        <header class="bg-warning"><%- include("../partials/header") %></header>
        <main>
            <h1>Formulario de creación de productos</h1>
            <div class="display-flex justify-content-flex-start">
                <form
                    action="/products"
                    method="POST"
                    enctype="multipart/form-data"
                >
                    <div>
                        <label for="create-product-name"
                            >Nombre del producto:</label
                        >
                        <input
                            type="text"
                            id="create-product-name"
                            name="name"
                        />
                    </div>

                    <div>
                        <label for="create-product-price"
                            >Precio del producto:</label
                        >
                        <input
                            type="number"
                            id="create-product-price"
                            name="price"
                        />
                    </div>

                    <div>
                        <label for="create-product-discount">Descuento:</label>
                        <input
                            type="number"
                            id="create-product-discount"
                            name="discount"
                        />
                    </div>

                    <div>
                        <label for="create-product-category">Categoría:</label>
                        <select id="create-product-category" name="category">
                            <option value="">Elegir</option>
                            <option value="in-sale" name="category">
                                En oferta
                            </option>
                            <option value="visited" name="category">
                                Últimos agregados
                            </option>
                        </select>
                    </div>

                    <div>
                        <label for="create-product-description"
                            >Descripción:</label
                        >
                        <textarea
                            name="description"
                            id="create-product-description"
                            cols="30"
                            rows="10"
                        ></textarea>
                    </div>
                    <div>
                        <input type="file" name="image" id="" />
                    </div>
                    <button type="submit">Crear producto</button>
                </form>
            </div>
        </main>
        <footer class="footer-md"><%- include("../partials/footer") %></footer>
    </body>
</html>
